<!DOCTYPE html>
<html>
<head>
  <title>JewelryApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body <% if logged_in? %>
  ng-app= <%= current_user.is_admin? ? 'AdminApp' : 'BeneficiaryApp'%>
  <% end %>
  >


<%= yield %>

</body>
</html>
